body {
  background-color: hsl(220, 15%, 55%);
  width: 1440px;
  height: 100vh;
  font-family: "outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 250px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
  border-radius: 15px;
  background-color: white;
  border: none;
  position: relative;
}
img {
  width: 90%;
  height: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -95%);
  border-radius: 15px;
}

div {
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
}
div > p {
  text-align: center;
  font-weight: 700;
  font-family: inherit;
  font-size: 18px;
  color: hsl(218, 44%, 22%);
}
.second-text {
  text-align: center;
  font-weight: 400;
  font-family: inherit;
  font-size: 14px;
  color: hsl(212, 13%, 75%);
  width: 85%;
  margin: 0 auto;
}
